{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}"/>
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">联通用户管理 </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">部门管理 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">用户管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登录</a></li>
                {#                    <li><a href="#">登出</a></li>#}
                {#                    <li><a href="#">Link</a></li>#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">李洛克<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料 </a></li>
                        <li><a href="#">我的信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div>
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-primary btn-success " data-toggle="modal" data-target="#exampleModal">
                <span class="glyphicon glyphicon-eject" aria-hidden="true"></span>
                新建部门</a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">新建部门</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/depart/add/" method="post" onsubmit="return isempty('#deparment-name')">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">部门名称:</label>
                                    <input type="text" class="form-control" id="deparment-name" name="depart_name">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">部门人员</label>
                                    <textarea class="form-control" id="message-text" name="depart_length"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                部门列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for i in depart_list %}
                    <tr>
                        <th scope="row">{{ start_index|add:forloop.counter }}</th>
                        <td>{{ i.title }}</td>
                        <td>
                            <a class="btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal2"
                               data-whatever="{{ i.title }}">编辑</a>
                            <a class="btn-danger btn-sm" href="/depart/delete/?nid={{ i.id }}" target="_parent">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">部门名称编辑</h4>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="/depart/edit/" id="deaprt_edit" onsubmit="return isempty('#deparment-name1')">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">部门名称</label>
                                        <input type="text" class="form-control" id="deparment-title"  readonly name="old_depart_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">新部门名称</label>
                                        <input class="form-control" id="deparment-name1" name="depart_name">
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button type="submit" class="btn btn-primary" form="deaprt_edit">提交</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script src="{% static '/jquery/dist/jquery.js' %}"></script>
<script src="{% static '/bootstrap/dist/js/bootstrap.js' %}"></script>
<link rel="stylesheet" type="text/css" href="https://www.huangwx.cn/css/sweetalert.css">
<script type="text/javascript" src="https://www.huangwx.cn/js/sweetalert-dev.js"></script>
<script>
    function isempty(id) {
        try {
            var res = $(id).val();
            var res2 = $("#message-text").val();
            console.log(res, res2)
            if ((res.length == 0) && (res2.length == 0)) {
                swal({title: "数据不能为空", type: "error", confirmButtonText: "确定"})
                return false
            }
            return true
        } catch (error) {
            console.log(error)
        }
    }
</script>
<script>
    try {
        $('#exampleModal2').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            console.log(recipient)
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            {#modal.find('.modal-title').text('New message to ' + recipient)#}
            modal.find('.modal-body input:eq(1)').val(recipient)
        })
    }catch(error) {
        console.log(error)
    }
</script>
</html>