{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">联通用户管理 </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="/depart/list/">部门管理 <span class="sr-only"></span></a></li>
                <li class="active"><a href="/user/list/">用户管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登录</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">李洛克<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料 </a></li>
                        <li><a href="#">我的信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div>
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-primary btn-success " data-toggle="modal" data-target="#exampleModal">
                <span class="glyphicon glyphicon-eject" aria-hidden="true"></span>
                新建人员</a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">新建人员</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/user/add/" method="post" onsubmit="return  isempty('#deparment-name')" novalidate id="addform">
                                {% csrf_token %}
                                {% for i in form %}
                                <div>{{ i.label }}:{{ i }}</div>

{#                                <div></div>#}
                                <span style="color: red"  id="{{ i.name }}_add"></span>
                                {% endfor %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="user_remove">关闭</button>
                                    <button type="button" class="btn btn-primary" id="user_Add">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                部门列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                <th>id</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>入职时间</th>
                <th>账户余额</th>
                <th>所属部门</th>
                <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for i in user_list %}
                    <tr>
                        <th scope="row">{{ start_index|add:forloop.counter }}</th>
                        <td>{{ i.name }}</td>
                        <td>{{ i.age }}</td>
                        <td>{{ i.get_gender_display }}</td>
                          <td>{{ i.create_time|date:'Y-m-d'}}</td>
                        <td>{{ i.count }}</td>
                        <td>{{ i.deaprt.title }}</td>
                        <td>
                            <a class="btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal2"
                               data-whatever="{{ i }}" id="user_edit" onclick="edit_info({{ i.id }})">编辑</a>
                            <a class="btn-danger btn-sm" href="/user/delete/?nid={{ i.id }}" target="_parent">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">员工资料编辑</h4>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="/depart/edit/" id="user_edit" > <!--onsubmit="return isempty('#deparment-name1')-->
                                    {% csrf_token %}
                              {% csrf_token %}
                                {% for i in form %}
                                <div>{{ i.label }}:{{ i }}</div>
{#                                <div></div>#}
                                <span style="color: red"  id="{{ i.name }}_edit"></span>
                                {% endfor %}
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="user_remove">关闭
                                    </button>
                                    <button type="submit" class="btn btn-primary" form="deaprt_edit">提交</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}
{% block js %}
<script>
$("#user_Add").click(function(){
   $.ajax({
       type: 'POST',
       url: '/user/add/',
       dataType: 'json',
       data:$("#addform").serialize(),
       headers:{ "X-CSRFtoken":$.cookie("csrftoken")},
       success: function (res) {
           if (res.msg == "处理完成"){
               window.location.reload()
           }else {
               {#console.log(res)#}
               {#for(let obj of res.error_message){#}
               {#    $("#error_msg:eq(this.index)").val(obj.0)#}
               {##}
               for(let key in res.error_message){
                   $("#"+key+"_add").text(res.error_message[key])
                    {#console.log(res.error_message[key])#}
}
           }

       }
   })
 })

$("#user_remove").click(function (){ //清楚错误数据
    $(".modal-content span").text("")
})
</script>
{% endblock %}